certifi==2018.4.16
chardet==3.0.4
cocoex==2.1
cocopp==2.1
defusedxml==0.5.0
Django==2.0.5
django-allauth==0.35.0
django-environ==0.4.4
gunicorn==19.8.1
idna==2.6
oauthlib==2.0.7
pip==10.0.1
psycopg2-binary==2.7.4
python3-openid==3.1.0
pytz==2018.4
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
setuptools==36.4.0
six==1.11.0
urllib3==1.22
wheel==0.29.0
