
{% extends "base.html" %}


{% block content %}
<nav class="nav">

      <a class="nav-link" href="/evolve/pop/next">Evolve</a>

</nav>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Views</th>
              <th scope="col">Likes</th>
            </tr>
          </thead>

          <tbody>
           {% for content in content_list %}
            <tr>
              <th scope="row">  <a href="/evolve/id/{{  content.id }}">{{ content.id }}</a></th>
              <td>{{ content.views }}</td>
              <td>{{ content.likes }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

    <a class="btn btn-danger" href="/evolve/pop/new" role="button">Initialize</a>

{% endblock content %}


{% block scripts %}


    <script>


    </script>



{% endblock scripts %}