
{% extends "base.html" %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

      <h4 class="lead">Which content is more effective?</h4>
</div>


      <div class="card-deck mb-3 ">
        <div class="card mb-4 box-shadow">

          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.With supporting text below as
                a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.

            </p>
            <button type="button" class="btn btn-block btn-outline-primary">Best</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
           <img class="card-img-top" src="https://s3.amazonaws.com/mariogarcia/images/book-1659717_1280.jpg" alt="Card image cap">

          <div class="card-body">

            <p class="card-text">
                Text With image.
                With supporting text below as a natural lead-in to additional content.
                With supporting text below as a natural lead-in to additional content.
            </p>

            <button type="button" class="btn btn-block btn-outline-primary">Best</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">With Header</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$9 <small class="text-muted">/ ea.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>More Styles</li>
              <li>Images </li>
              <li>Fonts</li>
              <li>Videos</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Best</button>

          </div>
        </div>
      </div>

             <div id='activities' class="card-group">

           </div>



{% endblock content %}


{% block scripts %}

 <script id="activities_template" type="x-tmpl-mustache">
    <div class="card">
        [[#image_url]]
            <img class="card-img-top center-block img-fluid" src="[[image_url]]" alt="[[title]]">
        [[/image_url]]
    <div class="card-block">
    <h6 class="card-title"> <i class="fa fa-[[icon]] text-muted"> </i> <a href="[[uri]]">[[title]]</a>   </h6>
    <p class="card-text"> [[description]]</p>
              [[#tags]]
              [[#.]]
              <span class="label label-primary"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">#[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
    [[/tags]]
</div>
</script>


 <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
     Mustache.tags = ['[[', ']]'];

     var activities_template = $('#activities_template').html();

     Mustache.parse(activities_template);

     rendered = Mustache.render(activities_template, {
                    title: 'titulo',
                    uri: "uri",
                    icon: "icon",
                    description: "Test",
                    lang:"Test",
                    level:"Test",
                    type:"Test",
                    tags:"Test",
                    has_tags:(1 > 0),
                    image_url: ""
                });

                $("#activities").append(rendered);




    });
 </script>

{% endblock scripts %}