
{% extends "base.html" %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

      <h4 class="lead">Which content is more effective?</h4>
</div>

<form id="bestForm" action="/evolve/{{ population }}/" method="post">
    {% csrf_token %}
    <input name="selection_list" hidden>

      <div class="card-deck mb-3 ">

        {% for content in content_list %}

            {% if content.type == 0 %}
                <div class="card mb-4 box-shadow">

                  <div class="card-body">
                    <h5 class="card-title">{{ content.title }}</h5>
                    <p class="card-text">
                        {{ content.text }}

                    </p>
                    <button id="{{ content.id }}" type="button" class="btn btn-block btn-outline-primary sendButton">Best</button>
                  </div>
               </div>

            {% elif content.type == 1 %}

              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ content.image }}" alt="Card image cap">

                  <div class="card-body">

                    <p class="card-text">
                        {{ content.text }}
                    </p>

                    <button id="{{ content.id }}" type="button" class="btn btn-block btn-outline-primary sendButton">Best</button>
                  </div>
              </div>

            {% elif content.type == 2 %}

                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">{{ content.title }}</h4>
                  </div>
                  <div class="card-body">
                    <p>
                     {{ content.text }}
                    </p>
                    <button id="{{ content.id }}" type="button" class="btn btn-block btn-outline-primary sendButton">Best</button>
                  </div>
                </div>

            {% endif %}

      {% endfor %}

      </div>

</form>

{% endblock content %}


{% block scripts %}


    <script>

    var sample = {{ sample|safe }};


    $(document).ready(function() {

         $(".sendButton").on("click", function (){

            var timestamp = Date.now();
            var username = $("#username").val();

            username = username == undefined? 'anonymous' : username;

            var best =  $(this).prop('id');

            var eval_data = (individual, best, context) =>
                    { return individual == best ? individual+":like:"+context : individual; };

            var result = (sample.sample.map(s => s.id).map( data =>  eval_data(data,best,timestamp+':'+username)))

            var $input = $("#bestForm").find("input[name=selection_list]");

            $input.val(result);


         $( "#bestForm" ).submit();




     });


    });

    </script>



{% endblock scripts %}