
{% extends "base.html" %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

      <h4 class="lead">Which content is more effective?</h4>
  <p>Let Us optimize your sales copy with Evolutionary-Swarm Intelligence</p>
</div>

 <div class="container">
      <div class="card-deck mb-3 ">
        <div class="card mb-4 box-shadow">

          <div class="card-body">
            <h5 class="card-title">Great Snickers</h5>
            <p class="card-text">
                Confortable all-day snickers at <a href="#">example.com</a>.

            </p>
            <button type="button" class="btn btn-block btn-outline-primary">Best</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
           <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/evotex/shoes.jpg" alt="Card image cap">

          <div class="card-body">

            <p class="card-text">
                 Great all-day snickers at <a href="#">example.com</a>.
            </p>

            <button type="button" class="btn btn-block btn-outline-primary">Best</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">Only at example.com</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$59 <small class="text-muted">/ ea.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Great Style</li>
              <li>Gray Colot</li>
              <li>Walking Shoes</li>

            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Best</button>

          </div>
        </div>
      </div>


    </div>

{% endblock content %}


{% block scripts %}


{% endblock scripts %}